{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}



<div class="top-bar">
  <div class="top-bar-left">
    <li><a href="/"><b>Krispy Tickets</b></a></li>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/settings">Settings</a></li>
      <li><a href="/saved">Saved</a></li>
      <li><a href="/logout" class="button">Logout</a></li>
    </ul>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
      <br>
      <br>
      <form action = "/search", methods="GET","POST">
	<input type="text" id="search" name="search" placeholder="Search">
	<input type="submit" class="button" value="Search">
      </form>
    </div>
  </div>
</div>


{% with msgs = get_flashed_messages() %}
{% for each in msgs %}
{{each}}
{% endfor %}
{% endwith %}

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <form action="/event" methods="GET","POST">
	<table>
	  <thead>
	    <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Event Genre</th>
            <th>Event Address</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for events, values in allEvents.items() %}
	    <tr>
              <td><input type="submit" class = "clear button" name= {{ events }} value= "{{values[0]}}"></td>
              <td>{{values[1]}}</td>
              <td>{{values[2]}}</td>
              <td>{{values[3]}}</td>
            </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </form>
      <br>
      <br>
      <br>
    </div>
    
    <div class="cell medium-2 medium-cell-block-y">
      <form action="/artist" methods="GET","POST">
	<table>
	  <thead>
	    <tr>
              <th>Artist Lineup</th>
	    </tr>
	  </thead>
	  <tbody>
            {% for a in artists %}
            <tr>
              <td><input type="submit" class="clear button" name="{{ a }}" value="{{ a }}"></td>
            </tr>
            {% endfor %}
	  </tbody>
	</table>
      </form>
    </div>
    <div class="cell medium-10 medium-cell-block-y">
      <div class="callout">
	<h3 id="about">About <b>{{ artistName }}</b></h3>
	<hr>
	<p>{{ artistBio }}</p>
      </div>
    </div>
  </div>
</div>


{{ allAlbums}}


{% endblock %}
