{% extends "base.html" %}

{% block content %}

<form action = "/search", methods="GET","POST">
  <input type="text" id="search" name="search" placeholder="Search">
  <button type="submit">Search</button>
</form>
<form action="/logout">
  <input type="submit" value="Log out">
</form>
<form action="/settings">
  <input type="submit" value="Settings">
</form>

<form action="/artists" methods="GET","POST">
{% for events,values in allEvents.items() %}
<input type="submit" name= {{ events }} value="get linup"> {{ values }}
{% endfor %}
</form>

{% endblock %}
