<!DOCTYPE html>
<html>
<head>
  <title>
    Home.html


  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0/dist/css/foundation.min.css">
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
    <div class = "top bar-right">
      <ul class = "menu">
        <li><input type="username" placeholder="username"></li>
        <li><input type="password" placeholder="password"></li>
        <li><button type="button" class="button">Login</button></li>
      </ul>
      <button type = "Register" class = "button"> Register here</button>
    </div>
  </div>
  <br>
  <br>

  <div class="grid-container">
    <div class="grid-x grid-padding-x small-up-2 medium-up-4">
      <div class="cell">
        <div class="card">
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
          <h4>Ticketmaster</h4>
            <p>This row of cards is embedded in an X-Y Block Grid.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
            <h4>Public Transit</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
            <h4>TheAudioDB</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
            <h4>NightSky</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
