{% extends "base.html" %}
{% block head %}
    <title>
      Settings


    </title>
    {% endblock %}
    {% block content %}
    Change your password:
    <form action="saveSettings" method="POST">
<!--
        Username:  <input type="text" name="user">
        <br>
	Address: <input type="text" name="address">
	<br> -->
        New Password:  <input type="password" name="new_password">
        <br>
        Confirm Password:  <input type="password" name="confirm_new_password">
        <br>
	Enter Old Password: <input type="password" name="old_password">
        <br>
        <input type="submit" value="Submit Changes">
    </form>
{% endblock %}
